input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  top: 0.1em;
  left: 0.1em;
  position: relative;
}

input[type="radio"]::before {
  content: "";
  width: 0.1em;
  height: 0.1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
/*  box-shadow: inset 1em 1em var(--form-control-color); */
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
input[type="radio"]:focus {
    content: "\2714";
/*
background: blue;
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
*/
}

input[type="radio"]:checked {
  transform: scale(1);

/*
background: blue;
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
*/
}

input[type="radio"]:checked::after
{
font-size: 1em;
content: "\00b7";
}